<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps4health.refpack"
    android:versionCode="1"
    android:versionName="0.1 Alpha A" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application>
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" 
        android:description='@string/app_description'
        android:allowClearUserData="true">
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/appicon"
            android:label="@string/title_activity_main" android:screenOrientation="landscape">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".V2TableActivity"
            android:label="xxx" android:screenOrientation="landscape"
            android:exported="false">
            <intent-filter>
                <action android:name="com.apps4health.refpack.V2VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SNOMEDTableActivity"
            android:label="xxx" android:screenOrientation="landscape"
            android:exported="false">
            <intent-filter>
                <action android:name="com.apps4health.refpack.SNOMEDVIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>